@page "/"

<h1>Matt Rigoli - Portfolio</h1>

<div class="Resume-TopLevel">
    <h1 class="Heading-TopLevel">Matthew Rigoli</h1>
    <br />
    <h3>Software Engineer</h3>
    <br />
    <h6>     Contact Number: 435-262-2103</h6>
    <br />
    <h6>     Email: mk.rigoli@gmail.com</h6>
    <br />
    <h6>     LinkedIn: https://www.linkedin.com/in/matthew-rigoli-740a29129</h6>
    <br />
    <h3 class="Heading-SubjectLevel">Experience</h3>
    <br />
    <h3>Junior Developer</h3>
    <br />
    <h5>Viranim Technical Solutions / August 2020 - Present</h5>
    <br />
    <h5>- Design and Develop Mobile and Web Applications</h5>
    <br />
    <h5>- Implement CMMC Security Prodecures</h5>
    <br />
    <br />
    <h5>Web Developer/Co-Owner</h5>
    <br />
    <h5>Peak Development / December 2017 - January 2020</h5>
    <br />
    <h5>- Design, develop, and maintain web applications</h5>
    <br />
    <br />
    <h3 class="Heading-SubjectLevel">Skills</h3>

</div>

@code
{}