@inject Portfolio.Blazor.DataProvider.ApiService ApiService

<h3>Add Project</h3>

<label>Title</label>
<br />
<textarea @bind="TitleField"></textarea>
<br />
<br />

<label>Requirements</label>
<br />
<textarea rows="4" @bind="RequirementsField"></textarea>
<MarkdownView Content="@NewProject.Requirements" />
<br />
<br />

<label>Design</label>
<br />
<textarea rows="4" @bind="DesignField"></textarea>
<br />
<br />

<label>TimeStamp</label>
<br />
<textarea @bind="TimeStampField"></textarea>
<br />
<button class="Button-Primary" @onclick="Add">Add Project</button>

@code {

    public IEnumerable<Project> ProjectList { get; set; }
    public Project NewProject = new Project();
    public string TitleField { get; set; }
    public string RequirementsField { get; set; }
    public string DesignField { get; set; }
    public string TimeStampField { get; set; }

    public async Task Add()
    {
        NewProject = new Project();
        NewProject.Title = TitleField;
        NewProject.Requirements = RequirementsField;
        NewProject.TimeStamp = TimeStampField;
        NewProject.Design = DesignField;

        await ApiService.Post(NewProject);
        ProjectList = await ApiService.GetProjectAsync();
    }

}
